.earth {
    /* width: 300px;    
    height: 300px; */ /*Original Size*/
    width: 100px;    
    height: 100px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    /* box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000; */ /*originial shadows*/
    box-shadow: 0 0 5px 5px rgb(11, 90, 114) inset, 0 0 5px 2px rgb(11, 48, 43);
  }
  
  .earth:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -20px -20px 50px 2px rgb(4, 7, 103) inset;
    border-radius: 50%;
  }
  
  .earth > div {
    width: 200%;
    height: 100%;
    animation: spin 9s linear alternate infinite; /*speed*/
    background: url(https://web.opendrive.com/api/v1/download/file.json/NTlfMTQ1MTkzNDhf?inline=1);
    /*orginal image at https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Earthmap1000x500compac.jpg/640px-Earthmap1000x500compac.jpg */
    background-size: cover;
  }
  @keyframes spin {
    to {
      transform: translateX(-50%);
    }
  }
  