
/* https://codepen.io/jhiam/pen/woZaKZ?editors=1010*/
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 4em;
  width: 100%;
  background-color: transparent; /*by defalut*/
  box-sizing: border-box;
  padding: 12px 18px;
  transition: background-color 0.4s ease-out;
  z-index: 1;
}

nav span {
  font-weight: 600;
  letter-spacing: .085em;
}

nav.scroll {
  background-color: #EEE;
  box-shadow: 0px 4px 7px #777;
}

body > header {
  margin-top: 4.7em;
}

.navTitle {
  font-size: 110%;
}

.navOptions {
  float: right;
  padding-top: 0.5%;
  display: inline;
  margin-right: 10%;
}

.navOptions ul {
  list-style: none !important;
}

.navOptions li {
  display: inline;
  margin: 7%;
}

.topnav {
  overflow: hidden;
}
@media (max-width:1025px) and (min-width:400px) {
  nav #pureNavbar {
    display: none !important;
    color: red !important;
  }

}